# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
*.gz
*.log
/src/main/resources/assets/gregtech/models/item/metaitems/.json
/src/main/resources/assets/gregtech/textures/items/metaitems/.png
